@import-normalize;
@import './styles/App.module.scss';
@import './styles/Home.scss';
@import './styles/Header.scss';
@import './styles/Contacts.scss';
@import './styles/Filter.scss';
@import './styles/ContactsList.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  min-height: 100vh;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--primary-bcg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 12px 0;
  font: inherit;
  font-size: 24px;
  line-height: 1.27;
  color: var(--white);
  background-color: var(--primary-color);
  border: 4px solid var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
}

input {
  // width: 335px;
  // height: 48px;
  padding: 12px 14px;
  border: 3px solid var(--primary-color);
  border-radius: 8px;

  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
